
input{

    border: 1px solid black;

}

 .reloj-container{
    margin: auto;
    width: 950px;
    display: flex;
    padding: 25px;
    outline-style: solid;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.reloj{
    background-color: #000;
}

.hora{
    width: 1000px;
    background-color: #000;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 200px;
    padding:300px;
} 



@media (max-width:1000px){

    .hora{
        font-size: 150px;
    }
}

